.bgeleven{
    background-color: rgba(38, 38, 97, 0.952);
}
.elevenbtn{
    border-radius: 40px;
}
.bghori{
    background: 'lime';
    background-color: black;
    height: 2px;
}
.contact{
    font-size:x-large;
}